<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glassyarea - Đăng nhập</title>
    <link th:insert="~{components/taglib  :: taglib}">
    <style>
    </style>
</head>
<body>
<div th:insert="~{components/header :: header}"></div>
<br>
<br>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Đăng Nhập</h2>
            <p class="text-center text-danger">[[${message}]]</p>
            <form th:action="@{/login}" method="post">
                <div class="form-outline mb-4">
                    <input th:value="${username}" name="username" id="email" class="form-control"/>
                    <label class="form-label" for="email">Địa chỉ email</label>
                </div>

                <div class="form-outline mb-4">
                    <input th:value="${password}" name="password" type="password" id="password"
                           class="form-control"/>
                    <label class="form-label" for="password">Mật khẩu</label>
                </div>

                <div class="row mb-4 float-end">
                    <div class="col">
                        <a th:href="@{/forgot-password}" class="">Quên mật khẩu</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary form-control btn-block mb-4">Đăng nhập</button>
            </form>
            <div class="text-center ">
                <p>
                    Bạn chưa có tài khoản?
                    <a th:href="@{/signup}" class="text-decoration-none">Đăng ký</a>
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<div th:insert="~{components/footer :: footer}"></div>
</body>
</html>