<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glassyarea - Đăng Ký</title>
    <link th:insert="~{components/taglib  :: taglib}">
    <style>
    </style>
</head>
<body>
<div th:insert="~{components/header :: header}"></div>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Đăng Ký</h2>
            <p th:if="${message}" th:text="${message}" class="text-danger text-center message"></p>
            <form id="registerForm" th:action="@{/register}" th:object="${user}" method="post" novalidate>
                <div class="form-outline mb-4">
                    <input th:field="*{fullname}" id="fullname" class="form-control" placeholder="Họ và tên" required>
                    <div class="invalid-feedback">Vui lòng nhập họ và tên.</div>
                </div>
                <div class="form-outline mb-4">
                    <input th:field="*{address}" id="address" class="form-control" placeholder="Địa chỉ" required>
                    <div class="invalid-feedback">Vui lòng nhập địa chỉ.</div>
                </div>
                <div class="form-outline mb-4">
                    <input th:field="*{phone}" id="phone" class="form-control" placeholder="Số điện thoại" required>
                    <div class="invalid-feedback">Vui lòng nhập số điện thoại.</div>
                </div>
                <div class="form-outline mb-4">
                    <input th:field="*{email}" id="email" type="email" class="form-control" placeholder="Địa chỉ email"
                           required>
                    <div class="invalid-feedback">Vui lòng nhập địa chỉ email hợp lệ.</div>
                </div>
                <div class="form-outline mb-4">
                    <input th:field="*{password}" id="password" type="password" class="form-control"
                           placeholder="Mật khẩu" required>
                    <div class="invalid-feedback">Vui lòng nhập mật khẩu.</div>
                </div>
                <div class="form-outline mb-4">
                    <input id="confirmPass" name="confirmPass" type="password" class="form-control"
                           placeholder="Nhập lại mật khẩu" required>
                    <div class="invalid-feedback">Vui lòng nhập lại mật khẩu.</div>
                </div>
                <button type="submit" class="btn btn-primary form-control btn-block text-center mb-4">Đăng ký</button>
                <div class="text-center">
                    <p>Bạn đã có tài khoản? <a th:href="@{/login}" class="text-decoration-none">Đăng nhập</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div th:insert="~{components/footer :: footer}"></div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var registerForm = document.getElementById('registerForm');

        registerForm.addEventListener('submit', function (event) {
            if (!registerForm.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }

            registerForm.classList.add('was-validated');
        }, false);
    });

    $('.message', function() {
        setTimeout(function() {

        }, 50000)
    });
</script>

</body>
</html>