<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/image/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${product.name}]]</title>
    <link th:insert="~{components/taglib  :: taglib}">
    <style>
    </style>
</head>
<body>
<div th:insert="~{components/header :: header}"></div>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="container mt-4">
            <div th:if="${product}">
                <div class="row">
                    <div class="col-6">
                        <img th:src="@{/images/products/product1.jpg}"
                             alt="Ảnh sản phẩm" class="img-thumbnail"
                             style="width: 595px; height: 595px">
                    </div>
                    <div class="col-6">
                        <p>
                        <h3 class="text">[[${product.name}]]</h3>
                        <span class="text"></span> <br>
                        <strong>Mô tả sản phẩm:</strong> <span>
                          [[${product.description}]]
                        </span>
                        <hr>
                        <button class="btn btn-primary add-to-cart rounded-0"
                                th:attr="
                                data-product-id=${product.id},
                                data-product-name=${product.name},
                                data-product-price=${product.price},
                                data-product-image=${product.image}"
                        >
                            <i class="ti ti-shopping-cart fs-5"></i>
                        </button>
                        <button class="btn btn-primary rounded-0">Mua ngay</button>
                        <br> <br>
                        <div class="card-body">
                            <strong>TẠI SAO LẠI CHỌN GLASSYZONE?</strong> <br> <br>
                            <ul>
                                <li><strong>BẢO HÀNH</strong> gọng kính 12 tháng</li>
                                <li><strong>ĐỔI/TRẢ</strong> linh hoạt trong 03 ngày nếu
                                    không hài lòng.
                                </li>
                                <li><strong>MIỄN PHÍ</strong> vệ sinh, cân chỉnh, thay ve
                                    mũi, thay ốc TRỌN ĐỜI SẢN PHẨM.
                                </li>
                            </ul>
                        </div>
                        <br> <br>
                        <div class="row">
                            <a class="btn btn-primary text-center" th:href="@{/product}">Đây
                                không phải thứ bạn cần? Tìm sản phẩm khác! </a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:unless="${product}">
                <div class="alert alert-danger" role="alert">Sản phẩm không
                    tồn tại hoặc đã bị xóa.
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div th:insert="~{components/footer :: footer}"></div>
</body>
</html>