<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/image/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link th:insert="~{components/taglib  :: taglib}">
</head>

<body>
<div th:insert="~{components/header :: header}"></div>
<br>
<br>
<section class="py-5 mt-5">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center mb-3">
            <div class="col-md-3">
                <p>Tìm thấy [[${products.size()}]] sản phẩm</p>
            </div>
            <div class="col-md-2">
                <div class="d-flex justify-content-between align-items-center">
                    <i class="ti ti-filter fs-5 me-2"></i>
                    <select id="sortSelect" class="form-select form-select-sm">
                        <option value="">Sắp xếp theo</option>
                        <option value="price_asc">Giá tăng dần</option>
                        <option value="price_desc">Giá giảm dần</option>
                        <option value="sold_desc">Bán chạy nhất</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div th:each="prod : ${products}" class="col-lg-4 col-md-6">
                <div class="card mb-4">
                    <a th:href="@{/product/__${prod.slug}__}">
                        <img th:src="@{/images/products/__${prod.image}__}" class="card-img-top" alt="${prod.name}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">[[${prod.name}]]</h5>
                        <span class="fst-italic text-success"
                              th:text="${#numbers.formatDecimal(prod.price, 0, 'COMMA', 0, 'POINT') + ' đ'}"></span>
                        <p class="card-text">[[${prod.description}]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<div th:insert="~{components/footer :: footer}"></div>
</body>
<script>
    var selectedSortOption = localStorage.getItem("selectedSortOption");

    if (selectedSortOption) {
        document.getElementById("sortSelect").value = selectedSortOption;
    }

    document.getElementById("sortSelect").onchange = function () {
        selectedSortOption = this.value;

        if (selectedSortOption === "") {
            localStorage.removeItem("selectedSortOption");
            window.location.href = "/product";
        } else {
            localStorage.setItem("selectedSortOption", selectedSortOption);
            window.location.href = "/filter/" + selectedSortOption;
        }
    };
</script>


</html>