<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giỏ hàng</title>
    <link th:insert="~{components/taglib :: taglib}">
    <style>
        .cart-img {
            width: 220px;
            height: 180px;
            background-color: #f8f9fa;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #dee2e6;
        }

        .cart {
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div th:insert="~{components/header :: header}"></div>
<br>
<div class="container mt-5 cart">
    <div class="table-responsive">
        <table class="table" id="cart-table">
            <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Discount</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody id="cart-items">
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="input-group w-50">
            <input type="text" class="form-control" placeholder="Coupon code">
            <button class="btn btn-primary">Apply Coupon</button>
        </div>
        <div>
            <button class="btn btn-secondary clear-cart">Clear Cart</button>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-4">
        <div>
            <a class="btn btn-light"  th:href="@{/product}">Back to Shopping</a>
        </div>
        <div>
            <span class="me-3">Subtotal: $<span id="cart-total">0.00</span></span>
            <button class="btn btn-primary update-cart">Update Cart</button>
            <button class="btn btn-success">Checkout</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/cart.js}"></script>
</body>
</html>
