<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/image/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán</title>
    <link th:insert="~{components/taglib  :: taglib}">
    <link rel="stylesheet" th:href="@{/css/checkout.css}"/>
</head>

<body>
<div th:insert="~{components/header :: header}"></div>
<br>
<br>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="mt-2 mb-2">Thanh toán</h4>
                <p class="text-center text-danger">[[${message}]]</p>
                <form th:action="@{/checkout}" th:object="${customer}" method="POST">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="fullName" class="form-label">Tên</label>
                            <input type="text" th:field="*{fullname}" class="form-control" id="fullName"
                                   placeholder="John Doe">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" th:field="*{email}" class="form-control" id="email"
                                   placeholder="john@example.com">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="phone" class="form-label">Điện thoại</label>
                            <input type="text" th:field="*{phone}" class="form-control" id="phone"
                                   placeholder="0987654321">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="city" class="form-label">Tỉnh/thành phố</label>
                            <input type="text" th:field="*{city}" class="form-control" id="city">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="dist" class="form-label">Quận/huyện</label>
                            <input type="text" th:field="*{district}" class="form-control" id="dist">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="ward" class="form-label">Phường/xã</label>
                            <input type="text" th:field="*{ward}" class="form-control" id="ward">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="address" class="form-label">Địa chỉ</label>
                            <input type="text" th:field="*{address}" class="form-control" id="address">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="note" class="form-label">Ghi chú</label>
                            <textarea th:field="*{note}" class="form-control" id="note" rows="4"></textarea>
                        </div>
                    </div>
                    <a th:href="@{/}" class="btn btn-dark rounded-0 float-right">Quay lại trang chủ</a>
                </form>

            </div>

            <div class="col-md-6 mt-5 ">
                <div class="row mt-4">
                    <ul class="list-group mb-3 col-md-6">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Sản phẩm</h6>
                            </div>
                            <span class="text-muted count-item">$20</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">Tổng tiền</h6>
                            </div>
                            <span class="text-muted amount">$15</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Tổng thanh toán (VND)</span>
                            <strong class="total-price">$35</strong>
                        </li>
                    </ul>
                    <form th:action="@{/checkout/submitOrder}" method="post">
                        <div class="form-group">
                            <label for="amount">Số tiền:</label>
                            <input type="number" class="form-control total-payment" id="amount" name="amount"  required readonly>
                        </div>
                        <div class="form-group">
                            <label for="orderInfo">Thông tin đơn hàng:</label>
                            <input type="text" class="form-control" id="orderInfo" name="orderInfo" required
                                   value="Thanh toan don hang 2923">
                        </div>
                        <button type="submit" class="btn btn-primary">Thanh toán</button>
                    </form>
                </div>
            </div>
        </div>
</section>
<br>
<script th:src="@{/js/checkout.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<div th:insert="~{components/footer :: footer}"></div>
</body>
<script>
    // $(document).ready(function () {
    //     const totalPayment = $('.total-price').val();
    //     console.log(totalPayment)
    //     $('.total-payment').val(totalPayment);
    // })


</script>
</html>