<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/image/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán thành công</title>
    <link th:insert="~{components/taglib  :: taglib}">
    <link rel="stylesheet" th:href="@{/css/checkout.css}"/>
</head>

<body>
<div class="body py-5">
    <div class="container">
        <div class="w-50 m-auto">
            <h1 class="my-3 text-success text-center">Thanh toán thành công</h1>
            <h2 class="my-2">Chi tiết đơn hàng</h2>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>Thông tin đơn hàng:</td>
                    <td><span th:text="${orderId}">[order ID]</span></td>
                </tr>
                <tr>
                    <td>Tổng tiền:</td>
                    <td><span th:text="${totalPrice}" id="formattedTotalPrice"></span></td>
                </tr>
                <tr>
                    <td>Thời gian thanh toán:</td>
                    <td><span th:text="${paymentTime}" id="paymentTime">[payment time]</span></td>
                </tr>
                <tr>
                    <td>Mã giao dịch:</td>
                    <td><span th:text="${transactionId}">[transaction ID]</span></td>
                </tr>
                </tbody>
            </table>
            <a href="/" class="btn btn-primary">Về trang chủ</a>
        </div>
    </div>
</div>
</body>

<script>
    $(document).ready(() => {
        const formattedPrice = formatCurrency($('#formattedTotalPrice').text());
        $('#formattedTotalPrice').text(formattedPrice);

        const formattedDateTime = formatDateTime($('#paymentTime').text());
        $('#formattedDateTime').text(formattedDateTime);
    });

    const formatCurrency = amount =>
        `${(amount / 100).toLocaleString('vi-VN', { maximumFractionDigits: 0 })} đ`;

    const formatDateTime = dateTimeString => {
        const [year, month, day, hour, minute] = [
            dateTimeString.substring(0, 4),
            dateTimeString.substring(4, 6),
            dateTimeString.substring(6, 8),
            dateTimeString.substring(8, 10),
            dateTimeString.substring(10, 12)
        ];
        return `${day}/${month}/${year} ${hour}:${minute}`;
    };
</script>


</html>